---
---

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

$break-small: 500px;
$break-large: 840px;

:root {
  --background: #fff;
  --text: #000;
  --accent: #4f33e8;
  --highlight: #f6f6f6;
  --tone: #989898;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #261e3a;
    --text: #e2dfea;
    --accent: #7033e8;
    --highlight: #140d25;
    --tone: #989898;
  }
}

body {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "PT Sans", "Hiragino Sans", "Hiragino Mincho ProN", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "palt", "pwid";
  -webkit-font-feature-settings: "kern", "palt", "pwid";
  -moz-font-feature-settings: "kern", "palt", "pwid";
  -moz-font-feature-settings: "kern=1", "palt", "pwid";
  background: var(--background);
  color: var(--text);

  @media screen and (max-width: $break-large) {
    width: auto;
    margin: 0;
  }
}

// MathJax
#MathJax_Message {
  display: none;
}

// Highlight.js
.hljs {
  border-radius: 3px;
  // font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  // font-size: 14px;
  background: #0e0127 !important;
  padding: 12px 18px !important;
  line-height: 1.6em !important;
}
code {
  padding: 0 12px;
}
p code {
  padding: 3px 10px;
  background: var(--highlight);
  border-radius: 3px;
  font-size: 16px;
}
a:hover,
a:active,
a:link,
a:visited {
  color: var(--text);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  line-height: 1.333em;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--highlight);
  border: 0;
  margin: 40px 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  padding: 15px 0;

  @media screen and (max-width: $break-small) {
    margin-top: 0px;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    margin: 10px 0 10px;
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }

  .menu {
    list-style: none;
    margin-left: 40px;
    padding: 8px 0;
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    font-weight: bold;

    .menu__item:not(:last-child) {
      margin-right: 30px;

      @media screen and (max-width: $break-small) {
        margin-right: 20px;
      }
    }

    @media screen and (max-width: $break-small) {
      padding: 0;
      margin: 5px 0;
    }
  }
}

.metro {
  // text-align: center;
  display: flex;
  flex-direction: column;
  margin: 75px 0 100px;

  .menu {
    margin: 15px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    .menu__item:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media screen and (max-width: $break-small) {
    margin: 40px 0 40px;
    .menu {
      font-size: 15px;
    }
  }
}

@import "./post";
