<section>
  <article class="article">
    <hgroup class="article__metadata">
        <% if (page.updated) { %>
        <h3 class="article__pubdate">
          <time pubdate><%- date(page.updated, "YYYY / <b>MM</b>") %></time>
        </h3>
        <% } else if (page.date) { %>
        <h3 class="article__pubdate">
          <time pubdate><%- date(page.date, "YYYY / <b>MM</b>") %></time>
        </h3>
        <% } %>
      <h2 class="article__title"><%- page.title %></h2>
    </hgroup>
    <div class="article__content"><%- page.content %></div>

    <!-- Social buttons -->
    <script
      defer
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8"
      id="facebook-jssdk"
    ></script>
    <script
      defer
      src="https://platform.twitter.com/widgets.js"
      id="twitter-wjs"
    ></script>
    <div id="fb-root"></div>
    <div class="article__social">
      <a
        href="https://twitter.com/share"
        class="twitter-share-button"
        data-size="large"
        >Tweet</a
      >
      <div
        class="fb-like"
        data-layout="button"
        data-action="like"
        data-size="large"
        data-show-faces="false"
        data-share="true"
      ></div>
    </div>
  </article>
</section>

<!-- Syntax Highlight -->
<!-- <link
  rel="stylesheet"
  href="https://unpkg.com/highlight.js@9.18.1/styles/night-owl.css"
/> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/scss.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/lua.min.js"></script>
<script>
  hljs.initHighlightingOnLoad()
</script> -->