<header class="header">
  <a class="logo" href="{{ site.baseurl }}/"
    ><img src="{{ site.baseurl }}/images/logo.svg" style="height: 50px"
  /></a>
  <nav>
    <ul class="menu">
      <li class="menu__item">
        <a href="/me">Me</a>
      </li>
      <li class="menu__item">
        <a href="https://github.com/{{ site.github.username }}">GitHub</a>
      </li>
      <li class="menu__item">
        <a href="https://twitter.com/{{ site.twitter.username }}">Twitter</a>
      </li>
      <li class="menu__item">
        <a href="/wallpaper">Wallpaper</a>
      </li>
    </ul>
  </nav>
</header>
