@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

$break-small: 500px;
$break-large: 840px;

:root {
  --background: #fff;
  --text: #000;
  --accent: #4f33e8;
  --highlight: #f6f6f6;
  --tone: #989898;
  --dim: rgb(203, 203, 203);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #261e3a;
    --text: #e2dfea;
    --accent: #7033e8;
    --highlight: #140d25;
    --tone: #989898;
    --dim: rgb(90, 83, 101);
  }
}

html,
body {
  box-sizing: border-box;
}

body {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "PT Sans", "Hiragino Sans", "Hiragino Mincho ProN", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "pwid";
  -webkit-font-feature-settings: "kern", "palt", "pwid";
  -moz-font-feature-settings: "kern", "palt", "pwid";
  -moz-font-feature-settings: "kern=1", "palt", "pwid";
  background: var(--background);
  color: var(--text);

  @media screen and (max-width: $break-large) {
    width: auto;
    margin: 0;
  }
}

// Highlight.js
.hljs {
  border-radius: 6px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  background: #0e0127 !important;
  padding: 12px 18px !important;
  line-height: 1.6em !important;
  margin: 0;
  @media screen and (max-width: $break-small) {
    font-size: 0.8em;
  }
}
code {
  padding: 0 12px;
}
p code {
  padding: 3px 10px;
  background: var(--highlight);
  border-radius: 3px;
  font-size: 16px;
}
a:hover,
a:active,
a:link,
a:visited {
  color: var(--text);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  line-height: 1.333em;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--highlight);
  border: 0;
  margin: 40px 0;
}

header.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: $break-small) {
    margin-top: 30px;
    margin-bottom: 60px;
    // justify-content: center;
  }

  .logo {
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }

    @media screen and (max-width: $break-small) {
      padding-left: 5px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-transform: lowercase;
    font-weight: bold;
    border-left: 1px solid var(--tone);
    // font-family: Rockwell;

    padding: 0;
    margin: 0 0 0 30px;
    padding: 0 0 0 30px;

    .menu__item {
      margin: 5px 0;
    }
  }
}

.page-nav {
  display: flex;
  justify-content: center;

  .page-prev,
  .page-number,
  .page-next {
    font-size: 1.2rem;
    padding: 20px;
  }
}

@import "./post";
