---
layout: default
---

<section>
  <article class="article">
    <hgroup class="article__metadata">
      {% if page.date %}
      <h3 class="article__pubdate">
        <time pubdate>{{ page.date | date: '%B %d, %Y' | upcase }}</time>
      </h3>
      {% endif %}
      <h2 class="article__title">{{ page.title }}</h2>
    </hgroup>
    <div class="article__content">{{ content }}</div>

    <!-- Social buttons -->
    <div id="fb-root"></div>
    <div class="article__social">
      <a
        href="https://twitter.com/share"
        class="twitter-share-button"
        data-size="large"
        >Tweet</a
      >
      <div
        class="fb-like"
        data-layout="button"
        data-action="like"
        data-size="large"
        data-show-faces="false"
        data-share="true"
      ></div>
    </div>
  </article>
</section>

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</script>

<!-- Syntax Highlight -->
<link
  rel="stylesheet"
  href="https://unpkg.com/highlight.js@9.18.1/styles/night-owl.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/scss.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/lua.min.js"></script>
<script>
  hljs.initHighlightingOnLoad()
</script>